{% extends "cv/wrapper.html" %}
{% load cv_markdown %}

{% block content %}
<nav class="page-navigation">
    <ul>
        <li><a href="#roles">Previous roles</a></li>
        <li><a href="#client-side">Client-side tech</a></li>
        <li><a href="#server-side">Server-side tech</a></li>
        <li><a href="#study">Study</a></li>
        <li><a href="#philosophy">Philosophy</a></li>
        <li><a href="#sites">Sites</a></li>
        <li><a href="#publications">Publications</a></li>
    </ul>
</nav>

<section id="roles">
    <div class="section-title"><h1>Previous roles</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li>2012: Lead developer (Hillarys)</li>
            <li>2011: Web developer (IPC Media)</li>
            <li>Energise, Mokoro &amp; Tamar</li>
            <li>My dream job</li>
        </ul>
    </nav>

    <p class="summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<section id="client-side">
    <div class="section-title"><h1>Client-side tech</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li>HTML</li>
            <li>CSS &amp; Sass</li>
            <li>JavaScript</li>
            <li>Responsive design</li>
            <li>Usability</li>
            <li>Performance</li>
        </ul>
    </nav>

    <p class="summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<section id="server-side">
    <div class="section-title"><h1>Server-side tech</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Dev ops</li>
            <li>Python</li>
            <li>C#</li>
            <li>Ruby</li>
        </ul>
    </nav>

    <p class="summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<section id="study">
    <div class="section-title"><h1>Study</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>

    <p class="summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>


<section id="philosophies">
    <div class="section-title"><h1>Philosophies</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>

    <p class="summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<section id="sites">
    <div class="section-title"><h1>Sites</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>

    <p class="summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<section id="publications">
    <div class="section-title"><h1>Publications</h1></div>

    <nav class="topic-navigation">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>

    <p class="summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>
{% endblock content %}
