<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
       
        <title>{{ page.title }} | Robin Winslow</title>
        
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    </head>

    <body>
        <header>
            <h1 class="fn given-name">
                Robin <span class="surname">Winslow
            </h1>

            <nav class="external-navigation">
                <ul>
                    <li><a href="https://github.com/nottrobin">Github</a></li>
                    <li><a href="http://stackoverflow.com/users/613540/robin-winslow">StackOverflow</li>
                    <li><a href="https://twitter.com/nottrobin">Twitter</li>
                    <li><a href="http://www.linkedin.com/in/robinwinslow">LinkedIn</a></li>
                </ul>
            </nav>
        </header>

        <nav class="page-navigation">
            <ul>
                <li><a href="#roles">Roles</a></li>
                <li><a href="#client-side">Client-side tech</a></li>
                <li><a href="#server-side">Server-side tech</a></li>
                <li><a href="#study">Study</a></li>
                <li><a href="#philosophy">Philosophy</a></li>
            </ul>
        </nav>

        <section id="roles">
            <h1>Roles</h1>

            <p class="summary"></p>

            <nav class="section-navigation">
                <ul>
                    <li>2012: Lead developer (Hillarys)</li>
                    <li>2011: Web developer (IPC Media)</li>
                    <li>Energise, Mokoro &amp; Tamar</li>
                    <li>My dream job</li>
                </ul>
            </nav>
        </section>

        <section id="client-side">
            <h1>Client-side tech</h1>

            <p class="summary"></p>

            <nav class="section-navigation">
                <ul>
                    <li>HTML</li>
                    <li>CSS &amp; Sass</li>
                    <li>JavaScript</li>
                    <li>Responsive design</li>
                    <li>Usability</li>
                    <li>Performance</li>
                </ul>
            </nav>
        </section>

        <section id="server-side">
            <h1>Server-side tech</h1>

            <p class="summary"></p>

            <nav class="section-navigation">
                <ul>
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>Dev ops</li>
                    <li>Python</li>
                    <li>C#</li>
                    <li>Ruby</li>
                </ul>
            </nav>
        </section>

        <section id="study">
            <h1>Study</h1>

            <p class="summary"></p>

            <nav class="section-navigation">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </section>


        <section id="philosophies">
            <h1>Philosophies</h1>

            <p class="summary"></p>

            <nav class="section-navigation">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </section>

        <footer>
            <aside>
                <p class="side">Please <a href="http://creativecommons.org/licenses/by-sa/3.0/">copy, modify and reshare</a> my work.</p>
                <p>By <a href="https://plus.google.com/104026832761488144614" rel="author">Robin Winslow</a></a>
            </aside>
        </footer>
    </body>
</html>
